<div class="container-fluid">
    <h2 class="text-center">Do What-Ever</h2>

    <h2>1. ngIf Demo</h2>
    <h2>You selected {{courseName}}</h2>
    <span>Select Course</span>
    <select [(ngModel)]="courseName">
      <option value="">---Select Course---</option>
      <option value="Angular">Angular</option>
      <option value="ReactJS">React JS</option>
      <option value="Vue">Vue JS</option>
      <option value="nodejs">Node JS</option>
      <option value="Java">JAVA</option>
      <option value="C++">C++</option>
    </select>
    <br /><br />
    <div class="mydiv " *ngIf="courseName==''">
        Please Select One Course
    </div>

    <div class="mydiv text-primary" *ngIf="courseName =='Angular'">
        Angular Course Selected!!
    </div>
    <div class="mydiv text-danger" *ngIf="courseName == 'ReactJS'">
        React Course Seleted!!<br/>
    </div>

    <div class="mydiv text-warning" *ngIf="courseName == 'Vue'">
        Vue JS Course selected!!<br />
    </div>

    <div class="mydiv text-success" *ngIf="courseName == 'nodejs'">
        Node JS Course selected!!<br />
    </div>
    <div class="mydiv badge badge-pill badge-danger" *ngIf="courseName == 'Java' || courseName == 'C++'">
        {{courseName}} Not Found !!<br />
    </div>
    <hr/>
    <hr/>

    <h2>2. ngSwitch Demo</h2>
    <h2>You Selected {{mycourse}}</h2>
    <span>Select Course </span>
    <select [(ngModel)]="mycourse" style="font-size: 25px;">
      <option value="">---Select Couese---</option>
      <option value="Java">Java</option>
      <option value="Python">Python</option>
      <option value="GoLang">GoLang</option>
      <option value="Scala">Scala</option>
      <option value="c++">C++</option>
    </select>

    <div class="mydiv" [ngSwitch]="mycourse">
        <div *ngSwitchCase="''">
            Please Select One Course<br/>
        </div>
        <div *ngSwitchCase="'Java'">
            Java8 Couese Selected<br/>
        </div>
        <div *ngSwitchCase="'Java'">
            Java13 Course Selected <br/>
        </div>
        <div *ngSwitchCase="'Python'">
            Python Course Selected <br/>
        </div>
        <div *ngSwitchCase="'GoLang'">
            GoLang Course Selected !<br/>
        </div>
        <div *ngSwitchCase="'Scala'">
            Scala Course Selected! <br/>
        </div>
        <div *ngSwitchCase="'c++'">
            C++ Course Selected!<br/>
        </div>
        <div *ngSwitchDefault>
            {{mycourse}} is not available!!
        </div>
    </div>
    <hr />
    <hr />
    <div>
        <h2>3. ngFor Demo</h2>
        <ul>
            <li *ngFor="let cou of mycourses">
                {{cou}}
            </li>
        </ul>
        <br/>
        <div class="mydiv" *ngFor="let cou of mycourses; let num=index">
            <div>{{num+1}}--{{cou}}</div>
        </div>
    </div>
</div>